<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/lec_6/public/stylesheets/style.css">
</head>
<body>
    <h1>hii dipu 2 +3 </h1>
   <h2> <%= 2 + 5 %> </h2> 
   <h3>dipu kumar
   </h3>
<script src="javascripts/script.js"></script>
</body>
</html>